<% if local_assigns.has_key?(:media_file) %>
  <div class=" ">
    <div class="content divided">
      <dl class="line">
        <% if media_file.file_type ==  "image"%>
          <dt><%=t(:preview, :scope => [:media_file, :edit])%></dt>
          <dd class="image">
            <%= image_tag(url_for(
                  :action=>:show, 
                  :controller=>:media_files_data, 
                  :name=>media_file.name,
                  :size=>'100x100'), 
                  :alt => "Image") %>
          </dd>
        <%end%>
        <dd class="caption">
        	<%= link_to t(:download, :scope => [:media_file, :edit]), url_for(:action=>:show, :controller=>:media_files_data, :name=>media_file.name),:target => "_blank" %>
        </dd>        
      </dl>
      <dl class="flow">
        <% if media_file.file_type == "image" && media_file.dimension.present? %>
          <dt><%=t(:size, :scope => [:media_file, :edit])%>: </dt>
          <dd><%=media_file.dimension['width'] %>x<%=media_file.dimension['height'] %></dd>
        <%end%>
        <dt><%=t(:type, :scope => [:media_file, :edit])%>: </dt>
        <dd><%=media_file.file_type%></dd>
        <dt><%=t(:filesize, :scope => [:media_file, :edit])%>: </dt>
        <dd><%=number_to_human_size(media_file.size)%></dd>
      </dl>
    </div>      
    <% remote_form_for media_file, 
          :url => skyline_media_dir_media_file_path, 
          :method => :put, 
          :html => {:method=>:put} do |f|%>
    <div class="content divided">  
      <dl class="line">
        <dt><%=f.label :name, Skyline::MediaFile.human_attribute_name("name")%></dt>
        <dd><%= f.text_field :name, :class => "full" %></dd>

        <dt><%=f.label :title, Skyline::MediaFile.human_attribute_name("title")%></dt>
        <dd><%= f.text_field :title, :class => "full" %></dd>
      
        <dt><%=f.label :description, Skyline::MediaFile.human_attribute_name("description")%></dt>
        <dd><%= f.text_area :description, :cols=>20, :rows=>5%></dd>

        <dt><%=f.label :date, Skyline::MediaFile.human_attribute_name("date")%></dt>
        <dd><%= f.date_select :date, :use_month_numbers => true %></dd>
      </dl>
      <dl class="tagselector line">
        <dt><%=f.label :raw_tags, Skyline::MediaFile.human_attribute_name("file_tags")%></dt>
        <dd><%=f.text_area :raw_tags, :rows => nil %></dd>
        <dt class="tags"><%=t(:available_tags, :scope => [:media_file, :edit])%></dt>
        <dd class="tags">
          <%= render :partial => "/skyline/tags/available_tags"%>
        </dd>
      </dl>
      <div class="submit">
        <%=submit_button :save, :class => "small green"%>
      </div>
    </div>          
    <div class="content">
      <%=link_to_remote button_text(:delete), {
          :url => skyline_media_dir_media_file_url, 
          :method=> :delete,
          :confirm => 'Weet u zeker dat u dit bestand wilt verwijderen?',
          :href => url_for(:action => "destroy", :id => media_file.id) },
          { :class => "button small red" }
      %>
    </div>
    <% end %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">    
	new Skyline.TagSelector("skyline_media_file_raw_tags",".taglist li");		
</script>
