<% if local_assigns.has_key?(:media_dir) && !media_dir.blank? %>    
  <% media_dir.files.each do |f|%>
    <li id='fileItem_<%=f.parent_id%>_<%=f.id%>' class="<%=f.file_type%> <%='selected' if local_assigns.has_key?(:selected_file) && selected_file == f%>">
      <div class="file">
        <%= link_to f.name,edit_skyline_media_dir_media_file_path(media_dir, f), :id => "fileLinkItem_#{f.id}" %>
      </div>
    </li>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8"> 
  <% if local_assigns.has_key?(:selected_file) && !selected_file.blank? %>    
    new Request({
         evalScripts: true, 
         url: "<%=edit_skyline_media_dir_media_file_path(media_dir, selected_file)%>"
     }).get();
  <% end %>
  
  /*Initialise draggable file list, add event listener on dropped to send ajax request to update file attributes*/
  var v = new Application.DraggableFileList("#fileListPanel .files li","#dirtree li");    
  v.addEvent("dropped",function(f,d){
    var ids = f.get("id").split("_");
    var url = "/skyline/media_dirs/"+ ids[1] +"/media_files/"+ ids[2];
    params = "skyline_media_file[parent_id]="+Application.getId(d.get("id"));
    new Request({ 
        evalScripts:true, 
        url: url,
        data: 'authenticity_token='+encodeURIComponent('<%=form_authenticity_token%>')+'&'+params,
        method: 'put'
    }).send();
    return false;
  });
  
  v.addEvent("selected", function(event,d){
    event.stop();
    event.preventDefault();
    
    if(this.selectedEl){ this.selectedEl.removeClass("selected"); }
    this.selectedEl = d;
    d.addClass("selected");
        
    var link = d.getElement("a");
    
    new Request({
      url: link.get('href'),
      method: 'get'
    }).send();
  });
  
  v.selectedEl = $('fileListPanel').getElement('.files li.selected');
</script>
