<% if local_assigns.has_key?(:media_dir) && !media_dir.blank? %>    
  <div class="upload innerpanel" id="libraryuploader">
  	<div id="foldername" class="head panelhead">
      <a class="collapse" href="#"><%=t(:header, :scope => [:media_file,:new]) %> <em><%= media_dir.name %></em></a>	 
  	</div>
  	<div id="uploadarea" class="panelBody">
      <form id="libraryuploaderform" class="upload innerpanel closed" action="<%= skyline_media_file_path_with_session_information(media_dir) %>">
        <div class="upload-files">
          <div class="body">
            <div class="messages"></div>
            <ul class="files" style="height: 100px">
              <li class="blank"><%=t(:no_files, :scope => [:media_file,:new]) %></li>
            </ul>
            <div class="status" id="uploadstatus">
              <span class="total-files">0</span> <%=t(:files, :scope => [:media_file,:new]) %>
              <span class="total-size">0 kB</span>                    
            </div>
            <a href="#" class="browse" id="adduploadfiles"><%=t(:add_files, :scope => [:media_file,:new]) %></a>
          </div>
          <div id="submit-buttons" class="submit">
            <a id="cancelselect" href="#" class="cancel"><%=t(:cancel, :scope => [:media_file,:new]) %></a>
            <%=submit_button("small/upload.gif", :class => "button upload", :id=> "uploadbutton", :alt => :upload)%>
            
            <%=submit_button("small/ok.gif", :class => "button upload", :id=> "finishedbutton", :alt => :ok)%>
          </div>
        </div>
        <div class="upload-progress hide">
          <div class="body">
            <%=t(:file_progress, :scope => [:media_file, :new]) %>
            <div class="progressbar">
              <div class="bar" style="width: 20%">&nbsp;</div>
            </div>
            <div class="progress-text">
              <%=t(:percentage_progress, :scope => [:media_file, :new]) %>
            </div>
          </div>
          <div class="submit">
            <a href="#" class="cancel"><%=t(:cancel, :scope => [:media_file,:new]) %></a>
          </div>
        </div>
      </form>

  	</div>	
  </div>
	<script type="text/javascript" charset="utf-8"> 
    if(Application.Layout.current){
     Application.Layout.current.initializeUploadPanel("<%= skyline_media_dir_media_files_path(media_dir) %>");
    }
	</script>  
<%end%>
