<% content_for(:left) do %>
  <dt><span class="content"><%=t(:users, :scope => [:navigation, :mainnavigation]) %></span></dt>
  <dd>
    <ul class="selectlist">
    		<li>
    			<%= link_to t(:left_header, :scope => [:user,:index]), "#" , :class => "selected" %>
    		</li>
    </ul>
  </dd>
<% end %>

<dl id="contentPanel" class="panel">
  <dt id="contentHeaderPanel">
    <span class="content">
      <%= t(:header, :scope => [:user, :index], :count => @users.total_entries) %>
    </span>
  </dt>
  <dd id="contentBodyPanel">
    <div id="contentInfoPanel">  
      <div class="innerpanel">
        <div class="actions">
          <% if @current_user.allow?(:user_create) %>
            <%= link_to_remote button_text(:add), {:url => new_skyline_user_path, :method => :get}, :class => "button small", :style => "margin-top: 3px" %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="contentEditPanel" class="panel scrollable">        
      <div class="content">
        <table class="listing">
          <thead>
            <tr>
              <th style="width: 25%"><%= Skyline::User.human_attribute_name("email") %></th>
              <th style="width: 25%"><%= Skyline::User.human_attribute_name("name") %></th>
              <th style="width: 15%"><%= Skyline::User.human_attribute_name("role") %></th>
              <th style="width: 15%"><%= Skyline::User.human_attribute_name("created_at") %></th>
              <th style="width: 20%">&nbsp;</th>              
            </tr>
          </thead>
          <tbody>
            <% @users.each do |u| %>
              <tr class="<%= cycle("odd","even") %>">
                <td><%= u.email %></td>
                <td><%= u.name %></td>
                <td><%= u.roles.map{|s| t(s.name, :scope => [:user,:roles], :default => s.name) }.to_sentence %></td>
                <td><%= u.created_at.present? ? l(u.created_at, :format => :long) : "" %></td> 
                <td class="right">
                  <% if @current_user.allow?(:user_update) %>
                    <%= link_to_remote button_text(:edit), {:url => edit_skyline_user_path(u), :method => :get}, :class => "button small" %>
                  <% end %>
                  <% if @current_user.allow?(:user_delete) %>
                    <%= link_to_remote button_text(:delete), {:url => skyline_user_path(u,:page => params[:page]), :method => :delete, :confirm => t(:confirm_destroy, :scope => [:user,:index], :display_name => u.display_name)}, :class => "button #{@current_user == u ? "disabled" : "red"} small" %>
                  <% end %>
                  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </dd>
  <% if @users.total_pages > 1 %>
    <dd id="contentFooterPanel" class="footer">
    	<div class="content">
    	  <%= will_paginate @users %>
      </div>
    </dd>
  <% end %>
</dl>