<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="DigitPaint BV. http://www.digitpaint.nl" />	

<title>Skyline 3.0</title>

<%= stylesheet_link_tag "/skyline/stylesheets/undohtml.css", "/skyline/stylesheets/general.css" %>
<!--[if lte IE 7]><%= stylesheet_link_tag "/skyline/stylesheets/ie.css" %><![endif]-->

<% if Skyline::Configuration.custom_stylesheets.any? %>
  <% Skyline::Configuration.custom_stylesheets.each do |stylesheet| %>
    <% if stylesheet[:if] %>
      <!--[if <%= stylesheet[:if] %>]><%= stylesheet_link_tag stylesheet[:path] %><![endif]-->
    <% else %>
      <%= stylesheet_link_tag stylesheet[:path] %>
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag "/skyline/javascripts/skyline.js" %>
<%= javascript_include_tag "/skyline/javascripts/skyline.editor.js" %>  
<%= javascript_include_tag "/skyline/javascripts/application.js" %>  	
<%= javascript_include_tag skyline_locale_path(I18n.locale) %>  	

<script type="text/javascript" charset="utf-8">
  Application.formAuthenticityToken = "<%=form_authenticity_token%>";  
  Application.locale = "<%= I18n.locale %>";
  Application.urlPrefix = "<%= Skyline::Configuration.url_prefix %>";
  Application.UserPreferences.Url = "<%= skyline_user_preferences_path  %>";
</script>

<% plugin_hook :footer %>
