<dl id="contentPanel" class="panel">    
  <dt id="contentHeaderPanel">    
    <span class="content">
      <%= controller.class_from_type.model_name.human(:count => 2) %>
    </span>
  </dt>
     
  <dd id="contentBodyPanel">
    <div id="contentInfoPanel">
      <div class="innerpanel">
        <div class="actions">
        </div>
      </div>
    </div>
     
    <div id="contentEditPanel" class="panel scrollable content">
      <% if @articles.any? %>
        <% begin %>
          <%= render :partial => "skyline/articles/#{controller.class_from_type.name.demodulize.underscore}/list" %>          
        <% rescue ActionView::MissingTemplate %>
          <%= render :partial => "list" %>          
        <% end %>
      <% else %>
        <em><%= t(:blank, :scope => [:article, :index], :name => controller.class_from_type.model_name.human(:count => 2).downcase) %></em>
      <% end %>
    </div>
  </dd>    
</dl>

<dl id="metaPanel" class="panel">
  <dt id="metaHeaderPanel"><span class="content"><%= t(:actions, :scope => [:article, :headers]) %></span></dt>
  <dd id="metaBodyPanel" class="scrollable meta">
    <div class="content">
      <div class="button">
        <%= link_to button_text(:new), skyline_articles_path(:type => params[:type]), :method => :post, :class => "add button medium green" %>
      </div>      
    </div>
  </dd>
</dl>