<dl id="contentPanel" class="panel">    
  <dt id="contentHeaderPanel">    
    <span class="content">
      <%= link_to button_text(:add), skyline_articles_path(:type => params[:type]), :method => :post, :class => "add button small" %>      
      <%= controller.class_from_type.human_name(:count => 2) %>
    </span>
  </dt>
    
  <dd id="contentBodyPanel">    
    <div id="contentEditPanel" class="panel scrollable">
        <% if @articles.any? %>
          <% begin %>
            <%= render :partial => "skyline/articles/#{controller.class_from_type.name.demodulize.underscore}/list" %>          
          <% rescue ActionView::MissingTemplate %>
            <%= render :partial => "list" %>          
          <% end %>
        <% else %>
          <em>Nog geen <%= controller.class_from_type.human_name(:count => 2) %> aanwezig.</em>
        <% end %>
    </div>
  </dd>    
</dl>
