<% if local_assigns.has_key?(:media_dir) %>
  <div class=" ">
    <% remote_form_for media_dir, :url => url_for(:action=>:update, :controller=>:media_dirs, :id=>media_dir.id), :complete => "Application.Layouts.MediaLibrary.initTree();" do |f|%>
      <%= f.hidden_field :parent_id %>
      <div class="content divided">  
        <dl class="line">
          <dt><%=f.label :name, Skyline::MediaDir.human_attribute_name("name") + ":" %></dt>
          <dd><%= f.text_field :name, :class => "full" %></dd>
        </dl>
        <div class="submit">
          <%=submit_button("small/save.gif", :alt => :save)%>
        </div>
      </div>          
      <div class="content">
        <%=link_to_remote button_image("small/delete_media_dir.gif", :alt => :delete_media_dir),
          :url => skyline_media_dir_url(media_dir), 
          :method=> :delete,
          :confirm => t(:message, :scope => [:media_dir,:destroy]),
          :href => url_for(:action => "destroy", :id => media_dir.id)
        %>
      </div>
    <% end %>
  </div>
<% end %>