<dl id="leftPanel" class="panel">
  <dt>
    <span class="content">
      <a href="#" class="button small" id="newDir"><%= button_text :add %></a>
      <%= t(:directories, :scope => [:media_dir]) %>
    </span>
  </dt>
  <dd class="scrollable">
    <%= render :partial => '/skyline/media_dirs/index', :locals => {:media_dirs => @media_dirs} %>
  </dd>
</dl>
<dl id="contentPanel" class="panel">
	<dt id="contentHeaderPanel">
	  <span class="content">
  	  <% if local_assigns.has_key?(:media_dir) %>
  	    <%= t(:files_in, :directory => media_dir.name, :scope => [:media_file,:index]) %>
  	  <% else %>
        &nbsp;	  
  	  <% end %>
	  </span>
	</dt>
	<dd id="contentBodyPanel">
	  <div id="uploadPanel">
	  </div>
	  <div id="fileListPanel" class="scrollable">
	    <ul id="filelist" class="files">
	    </ul>
	  </div>
	</dd>	
</dl>
<dl id="metaPanel" class="panel">
	<dt id="metaHeaderPanel"><span class="content">&nbsp;</span></dt>
  <dd id="metaBodyPanel" class="scrollable meta"></dd>
</dl>


<script type="text/javascript" charset="utf-8">
  (function(){
    var a = new Application.Layout.Media();
    a.skylineMediaDirsPath = "<%=skyline_media_dirs_path%>";
  })();
</script>