<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= article_version.data.title %></title>

  <% if redirect_section = article_version.sections.detect{|section| section.sectionable.kind_of?(Skyline::Sections::RedirectSection)} %>
    <%= tag("meta", {"http-equiv" => "refresh", "content" => "#{redirect_section.sectionable.delay};url=#{redirect_section.sectionable.url(request)}"}) %>
  <% end %>
</head>

<body>
  <h1><%= article_version.data.title%></h1>
  <% assign(:heading_level,1) %>
  
  <%= render_collection(article_version.sections) %>
  <%= @body %>
</body>
</html>
